<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vandit</title>
    <link rel="shortcut icon" href="../img/vanditlogo.png">
    <link rel="stylesheet" href="../Views/css/style.css">
</head>
<body>
    <img class="imagenprincipalDoubles imgDoublesMobile" src="../img/doubles.jpg" alt="imagenprincipal">
    <nav>
        <a href="../index.html">
    <div>
        <img class="PositionLogo PositionLogoDoubles" src="../img/vanditlogo.png" alt="logo de vandit">
    </a>
    <div>

        <ul class="PositionButtonsDoubles navindexDoubles">
            <li><a href="Doubles.html">Double</a>
            </li>
            <li><a href="Families.html">Families</a>
            </li>
            <li><a href="Allterrains.html">All terrains</a>
            </li>
            <li><a href="Trailers.html">Trailers</a>
            </li>
            <li><a href="Signup.html">Sign up</a>
            </li>
            <li><a href="login.html">Login</a>
            </li>
        </ul>
    </div>
</div>
    </nav>
    <header>
        <h1 class="h1Doubles titlemainpageDoubles">Doubles</h1>
        
    </header>
    <main>
        <section>
            <table class="PositionTableDobles PositionTableDoubles">
                <tr>
                    <th>Models</th>
                    <th>Number of persons</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>Double bed</td>
                    <td>2 persons</td>
                    <td>54 $/D</td>
                </tr>
                <tr>
                    <td>Double single bed</td>
                    <td>2 persons</td>
                    <td>65$/D</td>
                </tr>
                <tr>
                    <td>Roof Tent</td>
                    <td>2 persons</td>
                    <td>70 $/D</td>
                </tr>
                <tr>
                    <td>Out tent</td>
                    <td>2 persons</td>
                    <td>72 $/D</td>
                </tr>
            </table>
        </section>
    </main>
    <footer>
        <h3 class="h3Doubles h4Doubles">
        Find the perfect campervan, motorhome or caravan to hire for your next holiday.
        Help & support Call 0458015990
        </h3>
        <h4 class="h4Doubles h6Doubles">©copyright 2022 Vandit. All rights reserved terms and conditios
        </h4>
    </footer>
    

</body>
</html>
