<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vandit</title>
    <link rel="shortcut icon" href="../img/vanditlogo.png">
    <link rel="stylesheet" href="../Views/css/style.css">
</head>
<body>
    <img class="ImagenPrincipalFamilies" src="../img/families.jpg" alt="Families">
    <nav>
        <a href="../index.html">
        <img class="PositionLogoFamilies" src="../img/vanditlogo.png" alt="logo de vandit">
    </a>
    <ul class="PositionButtonsFamilies">
        <li><a href="Doubles.html">Double</a></li>
        <li><a href="Families.html">Families</a></li>
        <li><a href="Allterrains.html">All terrains</a></li>
        <li><a href="Trailers.html">Trailers</a></li>
        <li><a href="Signup.html">sign up</a></li>
        <li><a href="login.html">login</a></li>
    </ul>
    </nav>
    <header>
        <h1 class="h1Families">Families</h1>
        
    </header>
    <main>
            <section>
                <table class="PositionTablesFamilies">
                    <tr>
                        <th>Models</th>
                        <th>Number of Persons</th>
                        <th>Price</th>
                    </tr>
                    <tr>
                        <td>Single families</td>
                        <td>3 persons</td>
                        <td>75$/D</td>
                    </tr>
                    <tr>
                        <td>Two doble bed</td>
                        <td>4 persons</td>
                        <td>100$/D</td>
                    </tr>
                    <tr>
                        <td>Doble bed 3 single</td>
                        <td>5 persons</td>
                        <td>120$/D</td>
                    </tr>
                    <tr>
                        <td>2 Doble + Tent</td>
                        <td>7 persons</td>
                        <td>200$/D</td>
                    </tr>
                </table>
            </section>
    </main>
    <footer>
        <h3 class="h3Families"> the perfect campervan, motorhome or caravan to hire for your next holiday.
        Help & support Call 0458015990</h3>
 
                <h4 class="h4Families">©copyright 2022 Vandit. All rights reserved terms and conditios</h4>
            </footer>

</body>
</html>
