<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vandit</title>
    <link rel="shortcut icon" href="../img/vanditlogo.png">
    <link rel="stylesheet" href="../Views/css/style.css">
</head>
<body class="grid-layoutSignUp">
    <div>
    <img class="ImagenPrincipalSignUp" src="../img/vanfondo.jpg" alt="imagen de sign">
    <nav>
        <a href="../index.html">
        <img class="PositionLogoSignUp" src="../img/vanditlogo.png" alt="logo de vandit">
    </a>
    <ul class="PositionButtonsSignUp">
        <li><a href="Doubles.html">Double</a></li>
        <li><a href="Families.html">Families</a></li>
        <li><a href="Allterrains.html">All terrains</a></li>
        <li><a href="Trailers.html">Trailers</a></li>
        <li><a href="Signup.html">sign up</a></li>
        <li><a href="login.html">login</a></li>
    </ul>
    </nav>
    <header>
        <h1 class="h1SignUp">Sign Up</h1>
    </header> 
        
    <main>
        <fieldset class="navSignUp">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="type your name here">
            <br>
            <label for="last name">Last Name</label>
            <input type="text" id="last name" placeholder="your last name here">
            <br>
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="and your email here">
        </fieldset>
        
    </main>

    <footer class="footerSignUp">
        <h3 class="h3SignUp">Find the perfect campervan, motorhome or caravan to hire for your next holiday.
            Help & support Call 0458015990
        </h3>
        
         <h4 class="h4SignUp">©copyright 2022 Vandit. All rights reserved terms and conditios
        </h4>
    </footer>
</div>
</body>
</html>
