<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vandit</title>
    <link rel="shortcut icon" href="../img/vanditlogo.png">
    <link rel="stylesheet" href="../Views/css/style.css">
</head>
<body>
    <img class="ImagenPrincipalTrailers" src="../img/Trailers.jpg" alt="trailers">
    <nav>
        <a href="../index.html">
        <img class="PositionLogoTrailers" src="../img/vanditlogo.png" alt="logo de vandit">
    </a>
    <ul class="PositionButtonsTrailers">
        <li><a href="Doubles.html">Double</a></li>
        <li><a href="Families.html">Families</a></li>
        <li><a href="Allterrains.html">All terrains</a></li>
        <li><a href="Trailers.html">Trailers</a></li>
        <li><a href="Signup.html">sign up</a></li>
        <li><a href="login.html">login</a></li>
    </ul>
    </nav>
    <header>
        <h1 class="h1Trailers">Trailers</h1>
       

    </header>
    <main>
        <section>
            <table class="PositionTablesTrailers">
                <tr>
                    <th>Models</th>
                    <th>Number of Persons</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>2 weels</td>
                    <td>2 persons</td>
                    <td>30$/D</td>
                </tr>
                <tr>
                    <td>2 weels</td>
                    <td>4 persons</td>
                    <td>50$/D</td>
                </tr>
                <tr>
                    <td>4 weels</td>
                    <td>6 persons</td>
                    <td>70$/D</td>
                </tr>
                <tr>
                    <td>4 weels</td>
                    <td>8 persons</td>
                    <td>90$/D</td>
                </tr>
            </table>
        </section>
    </main>
    <footer>
        <h3 class="h3Trailers"> the perfect campervan, motorhome or caravan to hire for your next holiday.
        Help & support Call 0458015990
    </h3>
        
               <h4 class="h4Trailers"> ©copyright 2022 Vandit. All rights reserved terms and conditios</footer>
               </h4>
</body>
</html>
